@import "common/settings/variables";
@import "common/utils";

.a-logo{
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  padding-right: 45px;

  &__logo{
    path{
        transition: all .6s ease;
    }
  }
}