.test{
  animation: turn 0.5s 0.5s linear both;
  width: 300px;
  height: 300px;
  border: 3px solid tomato;
  display: inline-block;
}

@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}