@import "common/settings/variables";
@import "common/utils";

.header{
  z-index: 99;
  position: absolute;
  height: 93px;
  //background: url("/img/common/gradient.svg");
  //background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#282a36), to(rgba(40, 42, 54, 0.02)));
  background-image: linear-gradient(to bottom, #282a36, rgba(40, 42, 54, 1) 50%, rgba(40, 42, 54, 0.02));
  //background-color: rgba(40, 42, 54, 0.05);
  color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2rem 0 3.7rem;
  &__nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    &-list{
      flex: 4.3;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}