@import "common/settings/variables";
@import "common/utils";

.read {
  &__main {
    padding-top: 20px;

    @include media($mobile-up) {
      padding-top: 40px;
    }

    @include media($desktop) {
      padding-top: 50px;
    }
  }

  &__page {
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
