@import "common/settings/variables";
@import "common/utils";

.read {
  @media print {
    display: none;
  }

  &__object {
    width: 100vw;
    height: calc(100vh - 80px);
    //height: auto;
  }

  &__main {
    padding-top: 20px;

    @include media($mobile-up) {
      padding-top: 40px;
    }

    @include media($desktop) {
      padding-top: 50px;
    }
  }

  &__page {
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
