@import "common/settings/variables";
@import "common/utils";

.home-timeline{
  &__root{
    background-color: $background-1;
  }
  &__period {
    &-list{
      @include media ($desktop) {
        border-left: solid 4px rgba(0, 0, 0, 0.03);
        padding-left: 5.7rem;
      }
    }
    &-item{
      display: flex;
      justify-content:center;
      align-items: flex-start;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-image-source: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.0));
      border-image-slice: 1;
      padding: 4.3rem 0 5.4rem;
      @include media ($tablet) {
        flex-flow: column;
        padding-top: 4.4rem;
        padding-bottom: 3.1rem;

      }
      &:last-child{
        border: none;
      }
    }
  }

  &__main{
    padding-right: 7.8rem;
    box-sizing: content-box;
    flex: 1 1 39.4rem;
    @include media ($tablet) {
      flex-basis: auto;
      padding-right: 0;
      padding-bottom: 1.6rem;
    }
    &-title{
      @include media ($tablet) {
        padding-left: 2.1rem;
      }
      &-bold{
        color: $text;
        font-weight: 500;
      }
    }
    &-subtitle{
      @include media ($tablet) {
        padding-left: 2.1rem;
      }
    }
    &-description{
      margin-top: 3.8rem;
      padding-left: 2.4rem;
      @include media ($desktop) {
        padding-left: 0;

        &:before{
          content: '';
          position: absolute;
          top: 1.5rem;
          left: -5.7rem;
          height: 0;
          width: 4rem;
          border-bottom: solid 4px rgba(0, 0, 0, 0.03);
        }
      }

      &:after{
        content: url('/img/icons/flash.svg');
        position: absolute;
        top: 0;
        left: -4.4rem;
        @include media ($tablet) {
          left: -1rem;
          transform: scale(.38);
        }
      }
    }
  }

  &__additional{
    flex: 1 0 44.6rem;
    padding-top: 2.4rem;
    position: relative;
    padding-left: 2.2rem;

    @include media ($tablet) {
      flex-basis: auto;
      align-self: stretch;
      padding-top: 0rem;

    }
    &-title{
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;
      @include media ($tablet) {
        display: none;
      }
    }

    &-hidden{
      transition-property:max-height;
      transition-duration: 1.3s;
      max-height: 200rem;
      @include media ($desktop) {
        margin-bottom: 3.4rem;
      }
      &_close_true{
        @include transparent-mask(false);
        max-height: 20rem;
        transition-property:max-height;
        transition-duration: 2s;
        &::after{
          overflow: hidden;
          visibility: visible;
          opacity: 1;
          transform: translate(0, 0);
        }
        @include media ($tablet) {
          max-height: 0;
          display: none;
        }
      }
    }
    &-item{
      position: relative;
      padding-left: 1.4rem;
      font-size: 17px;
      line-height: 1.6;
      padding-bottom: .3rem;
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 1rem;
        left: 0;
        border: 1px solid #57a7ed;
        border-radius: 50%;
        width: .4rem;
        height: .4rem;
      }
    }
    &-view-line{
      text-align: center;
      font-weight: bold;
      color: $interactive;
      display: block;
      padding: 0 .2rem;
      line-height: 1.1rem;
      width: 100%;
      z-index: 1;
      cursor: pointer;
      &:hover{
        color: darken($interactive, 15%);
      }
      span{
        background-color: $background-1;
        padding: 0 .7rem;
        border-radius: 10rem;
        position: relative;
        top: .9rem;
        z-index: 2;
        transition: all .12s ease-in;
        text-align: center;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        line-height: 1rem;

      }
      &:after{
        @include  botton-line($interactive);

      }
      @include media ($tablet) {
        display: none;
      }
      &-btn{
        @include media ($desktop) {
          display: none;
        }
      }
    }
  }
}