@import "common/settings/variables";
@import "common/utils";

.a-logo{
  &__root{
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding-right: 45px;

  }
  &__image{
    width: 115px;
    height: 36px;
    object-fit: contain;
  }
}