@import "common/settings/variables";
@import "common/utils";

.m-icon-select{

  @include media ($mobile) {
    padding-left: 1.6rem;

  }
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  border-bottom: solid 1px $interactive;
  height: 5.6rem;

  select{
    display: none;
  }

  &:after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    display: block;
    top: 50%;
    transform: translate(0,-50%) rotate(50grad);
    right: 20px;
    border-right: 1px solid #ced2d6;
    border-bottom: 1px solid #ced2d6;
  }

  &__label{
    padding: 15px 0;
    font-size: 17px;
    line-height: 1.53;
    white-space: nowrap;
    span span{
      margin-right: 15px;
    }
    &:hover{
    }
  }
  &__options{

    &-list{
      position: absolute;
      box-sizing: border-box;
      top: 3.7rem * 1.5;
      left: 0;
      width: 100%;
      border: solid 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      background-color: $white;
      z-index: 10;
      &_closed_true{
        display: none;
      }
    }
    &-item{
      padding-left: 1.6rem;
      position: relative;
      height: 38px;
      line-height: 40px;
      user-select: none !important;


      &_selected_true{
        color: $black-1;
        font-weight: 500;      }
      &:hover{
        color: $black-1;
        font-weight: 500;
      }
    }
  }
}