@import "common/settings/variables";
@import "common/utils";

.a-input-text{
  text-align: left;
  padding: 0; //fieldsets usually have defaults padding
  margin: 0;
  &__inner{
    position: relative;
    overflow: visible;

    input {
      background-color: transparent;
      box-sizing: border-box;
      width: 100%;
      padding: 12px 0 8px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 2px solid $gray-2;
      outline: none;
      cursor: text;
      font-size: 17px;
      line-height: 1.53;
      &::placeholder {
        color: gray;
        transition: color 300ms ease;
      }
      &:not(:focus)::placeholder {
        color: transparent;
      }
    }

    hr {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 0;
      height: .2rem;
      border: none;
      background: $interactive;
      font-size: 1px;
      will-change: width, visibility;
      transition: all 200ms ease-out;
      visibility: hidden;
      z-index: 10;
    }
    input:focus ~ hr {
      width: 100%;
      visibility: visible;
    }

    label {
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 1.4rem;
      transform-origin: 0 -150%;
      color: gray;
      transition: transform 300ms ease, color 300ms linear;
      pointer-events: none;
    }
    input:focus ~ label{
      transform: scale(0.9) translateY(-20px);
      color: $interactive;
    }

    & + &{
      margin-top: 3rem // todo: change after final ui-kit, used on simple form join
    }

  }
  &__error{
    height: 1.2rem;
    font-size: 1.2rem;
    color: red
  }
  & &__label_non-empty_true{
    transform: scale(0.9) translateY(-20px);
    color: $interactive;
  }
  & &__label_error_true{
    transform: scale(0.9) translateY(-20px);
    color: red;
  }
}