@import "common/settings/variables";
@import "common/utils";

$form-btn-border-radius: 30px;

.a-btn{
  $this: &;
  & + &{
    margin-left: 2.4rem;
  }
  letter-spacing: -0.15px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  height: 3.7rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  vertical-align: top;
  transition: all 0.3s ease;

  @include media ($mobile) {
    width: 100%;
  }
  &__filled{
    color: $white;
    background-color: $interactive;
    border: solid 1px $interactive;
    padding: .9rem 1.5rem 1.1rem 1.6rem;

    &:hover{
      background-color: darken($interactive, 10%);
    }
    &:active{
      background-color: lighten($interactive, 5%);
    }
  };
  &__transparent{
    color: $interactive;
    border: solid 1px $interactive;
    padding: .9rem 1.3rem 1.1rem 1.4rem;

    &:hover{
      border-width: 2px;
      padding: .8rem 1.2rem 1rem 1.3rem;

    }
    &:active{
      background-color:  $interactive;
      border-color: $interactive;
      color: $white;
    }
  };
  &.disabled{
    pointer-events: none;
  }
  & + & {
    margin-left: 2.4rem;
    @include media ($mobile) {
      margin-left:0;
      margin-top:1.6rem;
    }
  }
  &__button{
    @extend #{$this};

    &_type{
      &_button-primary{
        @extend #{$this}__filled;
      }
      &_button-secondary{
        @extend #{$this}__transparent;
      }
      &_button-interface{
        width: 100%;
        display: block;
        padding: .8rem 0;
        font-size: 17px;
        line-height: 1.53;
        text-align: left;
        color: rgba(0, 0, 0, 0.65);

        &:hover{
          font-weight: 500;
        }
      }
    }
  }
  &__link {
    @extend #{$this};

    &_type{
      box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.08);

      &_link-secondary{
        @extend #{$this}__transparent;
      }
      &_link-primary{
        @extend #{$this}__filled;
      }
    }
  }
}