@import "common/settings/variables";
@import "common/utils";

$form-btn-border-radius: 30px;

.a-btn{
  $this: &;
  & + &{
    margin-left: 2.4rem;
  }
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  height: 3.7rem;
  padding: .9rem 1.6rem 1.1rem;
  line-height: 1.7rem;
  font-size: 1.5rem;

  &__filled{
    color: $white;
    background-color: $interactive;
    border: solid 1px $interactive;
    &:hover{
      border-color: transparent;
      background-color: lighten($interactive,5%);
    }
    &:active{
      background-color: darken($interactive, 10%);
      border-color: darken($interactive, 15%);
      box-shadow: 0 2px 4px rgba(0,0,0,0.06);
      color: darken(white, 35%);
      transform: translateY(0);
      transition: all 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  };
  &__transparent{
    color: $interactive;
    border: solid 1px $interactive;
    &:hover{
      border-color: lighten($interactive, 5%);
      background-color: lighten(rgba(87, 167, 237, 0.1), 5%);
    }
    &:active{
      background-color:  darken(rgba(87, 167, 237, 0.1), 50%);
      border-color: transparentize($interactive, .3);
      box-shadow: 0 2px 4px rgba(0,0,0,0.06);
      color: darken($interactive, 5%);
      transform: translateY(0);
      transition: all 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  };
  &.disabled{
    pointer-events: none;
  }
  & + & {
    margin-left: 2.4rem;
  }
  &__button{
    @extend #{$this};

    &_type{
      &_button-primary{
        @extend #{$this}__filled;
      }
      &_button-secondary{
        @extend #{$this}__transparent;
      }
    }
  }
  &__link {
    @extend #{$this};

    &_type{
      box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.08);

      &_link-secondary{
        @extend #{$this}__transparent;
      }
      &_link-primary{
        @extend #{$this}__filled;
      }
    }
  }
}