@import "common/settings/variables";
@import "common/utils";

.header{
  height: 65px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ebebeb;
  background-color: $white;

  @include media($tablet){
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
  }
  &__logo{
    z-index: 100;
    position: absolute !important;
    left: 2rem;
    bottom: 50%;
    transform: translate3d(0, 50%, 0);
    @include media($tablet) {
      left: $p-tablet;
    }
    @include media($mobile) {
      left: $p-mobile;
    }
  }
  &__nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &-list{
      @include media ($tablet) {
        display: none;
      }
      flex: 4.3;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
    }
    &-item{
      flex: 0 1 14rem;
      text-align: center;

    }
    &-link{

      &_is-open_true{
        color: darken(white, 40%);
      }
    }
    &-menu-btn{
      @include media ($desktop) {
        display: none;
      }
      position: absolute;
      bottom: 50%;
      transform: translate3d(0, 50%, 0);
      color: $white;
      z-index: 100;
      right: 2rem;
      @include media($tablet) {
        right: $p-tablet;
      }
      @include media($mobile) {
        right: $p-mobile;
      }
    }
  }
}