@import "common/settings/variables";
@import "common/utils";

.header{
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px $black-4;
  background-color: $white;

  &_theme_dark{
    background-color: black;
    border-bottom-color: transparent;
  }

  @include media($tablet){
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
  }
  &__logo{
    position: absolute;
    bottom: 50%;
    z-index: 50;
  }
  &__nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &-list{
      @include media ($tablet) {
        display: none;
      }
      flex: 4.3;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
    }
    &-item{
      flex: 0 1 14rem;
      text-align: center;

    }
    &-link{

      &_is-open_true{
        color: darken(white, 40%);
      }
      &_theme_dark{
        color: white;
        &:hover{
          color: darken(white, 40%);
        }
      }
    }
    &-menu-btn{
      @include media ($desktop) {
        display: none;
      }
      z-index: 50;
      color: $white;
      width: 3.4rem;
      padding: .5rem;
      height: 3.4rem;
      //transform: translate3d(5px,0,0);
    }
  }
}