@import "common/settings/variables";
@import "common/utils";

.footer {
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
    @include media($mobile){
      flex-flow: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &-address {
      text-align: center;
      margin-top: 2.8rem;
      color: $black-2;
      font-style: normal;
      @include media($mobile-up){
        text-align: left;
        flex: 1;
        position: absolute;
        bottom: 7rem;
        left: 2rem;
      }
    }
    &-aside {
      flex: 0 0 14rem;
      text-align: center;
      &-title {
        font-size: 19px;
        font-weight: 500;
        line-height: 1.47;
      }
    }
    &-img {
      height: 5rem !important;
      width: 5rem !important;
      @include media($mobile){
        display: none;
      }
    }
  }

  &__footer {
    padding: 2.8rem 0;
    background-color: $background-pink;
    &-container {
      display: flex;
      align-items: center;
      @include media($mobile){
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
    }
    &-nav{
      flex: 1 1 auto;
      display: flex;
      &-item {
        flex: 0 0 14rem;
      }
      @include media($mobile){
        margin-bottom: 3.2rem;
      }
    }
    &-social {
      flex: 0 1 auto;

      &-link{
        &+&{
          margin-left: 1.6rem;
        }
      }
      &-icon{
        vertical-align: middle;
      }
    }
  }

  &__header-aside-title {
    margin-bottom: 1.2rem;

  }
  &__nav {
    &-item {
      height: 1.9rem;
      & + & {
        margin-top: 1.7rem;
      }
    }
  }
}