@import "common/settings/variables";
@import "common/utils";

.m-select{

  padding-left: 2.5rem;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.03);
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: 3.7rem;

  select{
    display: none;
  }

  &:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $black-1;
  }

  &__label{
    font-size: 1.5rem;
    line-height: 3.5rem;
    white-space: nowrap;
    span span{
      margin-right: 15px;
    }
  }
  &__options{

    &-list{
      position: absolute;
      box-sizing: border-box;
      top: 3.7rem * 1.5;
      left: 0;
      width: 100%;
      border: solid 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      background-color: $white;
      z-index: 10;
      &_closed_true{
        display: none;
      }
    }
    &-item{
      padding-left: 2.5rem;
      position: relative;
      height: 38px;
      line-height: 40px;
      user-select: none !important;

      &_selected_true{
        color: $black-1;
        font-weight: 500;      }
      &:hover{
        color: $black-1;
        font-weight: 500;
      }
    }
  }
}