@import "common/settings/variables";
@import "common/utils";

.home-tweets{
  $this: &;
  background-color: $background-pink;
  &__container{
    padding-top: 5.8rem !important;
    padding-bottom: 5.3rem !important;
  }
  &__proto{
    flex: 1 1 240px;
    min-width: 24rem;
    box-sizing: border-box;
    margin-right: 1.3rem;
    height: 249px;
    min-height: 249px;
    border-radius: 8px;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
  }
  &__tweet {
    @extend #{$this}__proto;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.03);

    &-list{
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 0 0 0 2rem;
    }

    &-title{
      @extend #{$this}__proto;
      padding: 4.4rem 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Georgia;
      font-size: 32px;
      line-height: 1.25;
      text-align: left;
      background-color: #3f46ad;

      color: #ffffff;
    }
    &-item{
      @extend #{$this}__tweet;
      padding: 1.5rem 1.5rem 1.9rem;
      position: relative;
      &-header{
        display: flex;
        margin-bottom: 1.6rem;
      }
      &-image{
        width: 48px;
        height: 48px;
        border-radius: 100px;
        background-color: #d8d8d8;
        margin-right: 1.6rem;
      }
      &::after{
        content: '';
        display: inline-block;
        -webkit-mask: url('/img/icons/tweet.svg') no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask: url('/img/icons/tweet.svg') no-repeat 50% 50%;
        mask-size: cover;
        background-color: #50abf1;
        width: 1.7rem;
        height: 1.4rem;
        bottom: 1.9rem;
        left: 1.6rem;
        position: absolute;
      }
    }
  }
  &__user{
    font-size: 16px;
    line-height: 1.5;
    &-name{
      @extend #{$this}__user;
      color: rgba(0, 0, 0, 0.65);
    }
    &-nick{
      @extend #{$this}__user;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  &__helper{
    width: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    visibility: hidden;
    height: 100%;
    display: none;
    @include media($tablet){
      display: block;
    }
  }
}