@import "common/settings/variables";
@import "common/utils";

.mob-menu{
  $border: rgba(255,255,255,0.4);
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: $white;
  bottom: 0;
  left: 0;
  background:url('/img/common/mob-menu-bg.svg');
  background-size: cover;
  height: 100%;

  @include media ($desktop) {
    display: none;
  }

  &__container{
    height: 65px;
    border-bottom: 1px solid rgba(#ebebeb, 0.15);

  }

  &__nav{
    &-list{
      margin-top: 14.6%;
      margin-left: 2rem;
    }
    &-link{
      user-select: none;
      display: block;
      padding: 1.6rem 0;
      color: $white;
      font-weight: bold;
      position: relative;
      &:hover, &:active, &_is-open_true{
        color: darken($white, 30%);
      }
    }

  }


}