@import "common/settings/variables";
@import "common/utils";

.mob-menu{
  $border: rgba(255,255,255,0.4);
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: $white;
  display: none;
  bottom: 0;
  background:url('/img/common/mob-menu-bg.svg');
  background-size: cover;
  overflow:scroll;
  height: 100%;


  &_show_true{
    display: block;
    #logo {
      stroke: white;
    }
    #logo-text, #mob-menu-btn{
      fill: white;
      fill-opacity: 1;

    }

    @include media ($desktop) {
      display: none;
    }
  }

  &__container{
    height: 65px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(#ebebeb, 0.15);

  }

  &__nav{
    &-list{
      margin-top: 14.6%;
      margin-left: 2rem;
    }
    &-link{
      user-select: none;
      display: block;
      padding: 1.6rem 0;
      color: $white;
      font-weight: bold;
      position: relative;
      &:hover, &:active{
        color: darken($white, 30%);
      }
    }

    &-menu-btn{
      @include media ($desktop) {
        display: none;
      }
      position: relative;
      color: $white;
      //padding: 0 1.5rem 0 0.5rem;
    }
  }


}