@font-face {
  font-family: Camphor-W01;
  src: url("/fonts/camphor-w01-regular.woff2") format('woff2'),
  url("/fonts/camphor-w01-regular.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Camphor-W01;
  src: url("/fonts/camphor-w01-bold.woff2") format('woff2'),
  url("/fonts/camphor-w01-bold.woff1") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Camphor-W01;
  src: url("/fonts/camphor-w01-medium.woff2") format('woff2'),
  url("/fonts/camphor-w01-medium.woff1") format('woff');
  font-weight: 500;
}

