// COLORS

$white: #fff;
$black-1: #000000;
$black-2: rgba(0, 0, 0, 0.65);
$black-3: #6d6f7b;
$black-4: #ebebeb;
$black-5: rgba(0, 0, 0, 0.8);

$blue-1: #3f46ad;
$blue-2: rgba(87, 167, 237, 0.1);

$gray-1: #282a35;
$gray-2: #ced2d6;
$pink-1: #f8f8fb;

//___________________
$background-pink: $pink-1;
$background-dark: $gray-1;


$interactive: $blue-1; // itneractive text (links, buttons, ...etc)

$text: $black-5;
$text-t: $black-2;
$title: $black-1;


//$shadow-1: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
//_________________________

$card-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
$line: solid 1px $black-4;







// DIMENSIONS

$w-desktop: 1040px;
$w-desktop-wide: 1120px;
$w-tablet: 768px;

$small-mobile: 280px;




$identation: 2rem;
$header-height: 12.2rem;
$control-height: 4rem;

$p-mobile: 1.6rem;
$p-tablet: 2rem;
$p-desktop: 2rem;

// MEDIA QUERIES

$desktop: "min-width: #{$w-desktop}";
$desktop-wide: "min-width: #{$w-desktop-wide}";
$tablet: "max-width: #{$w-desktop - 1px}";
$mobile: "max-width: #{$w-tablet - 1px}";
$sm-mobile: "max-width: #{$small-mobile - 1px}";

$mobile-up: "min-width: #{$w-tablet}";