@import "common/settings/variables";
@import "common/utils";

.timer{
  display: flex;
  max-width: 428px;
  justify-content: space-between;
  margin: 0 auto;

  &__digit{
    width: 31px;
    height: 63px;
    font-size: 54px;
    text-align: center;
    & + &{
      margin-left: .4rem;
    }
  }
  &__label{
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 18px;
    font-size: 16px;
    text-align: center;
  }
  &__digits{
    flex-basis: 66px;
    position: relative;
  }
}