@import "common/settings/variables";
@import "common/utils";

.home-contracts {
  &__root {
    background-color: $background-pink;
  }

  &__title {
    text-align: center;
  }
  &__inner {
    display: flex;
    align-items: center;
    @include media ($tablet) {
      flex-flow: column-reverse;
    }
  }
  &__code {
    position: relative;
    width: 600px;

    overflow: hidden;
    @include media ($tablet) {
      width: 100%;
      height: 300px;
      overflow: hidden;

    }
    &_loading_true{
      visibility: collapse;
    }
  }
  &__menu{
    align-self: stretch;

  }
  &__list {
    &-desktop {
      @include media ($tablet) {
        display: none;
      }
    }
    &-mob{
      @include media ($desktop) {
        display: none;
      }
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0,-150%);
        right: 1.1rem;
        border-left: 4px solid white;
        border-right: 4px solid white;
        border-top: 4px solid black;
        z-index: 2;
      }
      select{
        margin-top: 24px;
        margin-bottom: 33px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px rgba(0, 0, 0, 0.1);
        padding: 12px 14px 13px 13px;
        font-size: 16px;
        border: 1px solid #ccc;
        width: 100%;
        height: 44px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }

}
