@import "common/settings/variables";
@import "common/utils";

.home-contracts {
  &__wrapper {
    background-color: $background-pink;
  }

  display: flex;
  align-items: center;
  @include media ($tablet) {
    flex-flow: column-reverse;
  }

  &__code {
    position: relative;
    width: 600px;
    height: 32rem;
    background-color: white;
    overflow: auto;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include media ($tablet) {
      width: 100%;
      height: 300px;
    }

    code:first-child{
      position: absolute;
      left: 0;
      padding-left: 6px;
      background-color: rgb(245, 247, 255);
      border-right: 1px solid $interactive;
      text-align: right;
      width: 20px !important;
    }
    pre{
        padding-left: 4.5rem !important;
    }

  }
  &__menu{
    align-self: stretch;
    padding-left: 8rem;
    @include media ($tablet) {
      margin-bottom: 3.2rem;
      padding-left: 0;
    }
  }
  &__list {

  }

  &__title{
    margin-bottom: .8rem!important;
  }
  &__line{
    height: 1.6rem;
    border-bottom: solid 2px $black-4;
    width: 200px;
    margin-bottom: 1.6rem;
  }

  &__link_opened_true{
    font-weight: 500 !important;
  }
}
