@import "common/settings/variables";
@import "common/utils";

.documents{
  border-bottom: $line;
  &__main{
    padding-top: 7.7rem;
    padding-bottom: 6.4rem;
    @include media($tablet){
      padding-top: 3.5rem;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.6rem;
    border-bottom: $line;
    @include media($mobile){
      flex-flow: column;
      align-items: flex-start;
      padding-bottom: 3.2rem;

    }
    & + &{
      margin-top: 3.2rem;
    }
    &-buttons{
      flex: 0 0 auto;
    }
  }

  &__download{
    .a-btn + .a-btn{
      margin-left: 3.2rem !important;
    }
  }

  &__file{
    padding-left: 3rem  ;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.8);
    position: relative ;
    &:before{
      content: url('/img/icons/doc.svg');
      top: 0;
      left: 0;
      position: absolute;
      display: block;
    }
    &:after{
      margin-left: 10.3rem;
      transform: translateY(-50%);
      position: relative;
      bottom: 1px;
      font-size: 12px;
      line-height: 1.5;
      padding: 2px 6px 2px 7px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      content: 'PDF';
      width: 39px;
      border-radius: 100px;
      background-color: $interactive;
      @include media($tablet){
        margin-left: 5.7rem;
      }
      @include media($mobile){
        margin-left: 1.6rem;
      }
    }
  }
}