@import "common/settings/variables";
@import "common/utils";

.documents{
  border-bottom: $line;
  &__main{
    padding-top: 7.7rem;
    padding-bottom: 6.4rem;
    @include media($tablet){
      padding-top: 3.5rem;
    }
  }
}