@import "common/settings/variables";
@import "common/utils";

/* Search Section
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.o-search {
  &__search {
    width: 76.8rem;
    margin: 0 auto;
    position: relative;
    @include media($tablet) {
      width: 70rem;
    }
    @include media($mobile) {
      width: 100%;
      margin-bottom: 3.2rem;
    }

  }
  &__input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.13;
    border-radius: 100px;

    padding: 2rem 1.2rem 2rem 6.6rem;
    box-sizing: border-box;
    transition: all .5s ease;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    &::placeholder{
      color: rgba(0, 0, 0, 0.25);
    }
    @include media ($mobile) {
      padding-left: 5rem;
    }
  }
  &__submit {
    padding: 0;
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    outline: none;
    position: absolute;
    left: 2.8rem;
    cursor: pointer;
    top: 1.2rem;
    display: inline-block;
    display: flex;
    justify-content: center;
    @include media ($mobile) {
      left: 1.2rem;
    }
  }

  &__reset{
    border: none;
    outline: none;
    position: absolute;
    right: 1.6rem;
    cursor: pointer;
    top: 2.2rem;
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 1px;
  }

  &__icon{
    position: relative;
    display: block;
    &_type{
      &_search{
        width: 1.8rem;
        height: 1.8rem;
      }
      &_clear{
        width: 1rem;
        height: 1rem;
      }
    }
  }
}