@import "common/settings/variables";
@import "common/utils";

.main-layout{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  @include media($tablet){
    &:before{
      display: block;
      content: '';
      height: 6.5rem;
    }
  }
}