@import "common/settings/variables";
@import "common/utils";

.subscribe{
  $c : &;
  padding-top: 6.4rem !important;
  padding-bottom: 6.4rem !important;
  background-color: $background-pink;
  &__inner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  &__inner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    &-success{
      @extend #{$c}__inner;
      animation-duration: 3s;
      animation-name: appear;

      @keyframes appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  &__thanks{
    &-mob{
      white-space: nowrap;
      @include media ($mobile-up) {
        display: none;
      }
    }
    &-desktop{
      white-space: nowrap;

      @include media ($mobile) {
        display: none !important;
      }
    }
  }
  &__title{
    margin-bottom: .8rem !important;
    text-align: center;
  }
  &__text{
    margin-bottom: 2rem !important;
  }
  &__input{
    flex: 0 1 28.8rem;
    margin-right: 1.6rem !important;;
    @include media ($mobile) {
      flex-basis:auto;
      margin-right:0 !important;;
      margin-bottom:3.2rem !important;;
      width: 100%;
    }
  }
  &__form{
    display: flex;
    width: 100%;
    max-width: 42.4rem;
    align-items: baseline;
    @include media ($mobile) {
      flex-flow: column;
      width: 100%;
      max-width: none;
    }
  }
  &__btn{
    flex: 0 0 auto;
  }
  &__check-mark{
    margin-bottom:1.6rem;
  }
}