@import "common/settings/variables";
@import "common/utils";

.subscribe{
  padding-top: 6.8rem !important;
  padding-bottom: 6.8rem !important;
  background-color: $background-pink;
  &__inner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  &__title{
    margin-bottom: .8rem !important;
    text-align: center;
  }
  &__text{
    margin-bottom: 3.2rem !important;
  }
  &__input{
    flex: 0 1 28.8rem;
    margin-right: 1.6rem !important;;
    @include media ($mobile) {
      flex-basis:auto;
      margin-right:0 !important;;
      margin-bottom:3.2rem !important;;
      width: 100%;
    }
  }
  &__form{
    display: flex;
    width: 100%;
    max-width: 42.4rem;
    align-items: baseline;
    @include media ($mobile) {
      flex-flow: column;
    }
  }
  &__btn{
    flex: 0 0 auto;
  }
}