@import "common/settings/variables";
@import "common/utils";

.o-fixed{
  &_sticky_true{
    position: fixed;
    top: 0;
    z-index: 99;
  }

  &_bottom_true {
    position: absolute;
    bottom: 0;

    @include media ($desktop) {
      bottom: 55px;
    }
  }
}