@import "common/settings/variables";
@import "common/utils";

.a-input-number{
  box-sizing: border-box;
  width: 100%;
  padding: 12px 0 8px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  line-height: 10rem;
  outline: none;
  cursor: text;
  @include media ($mobile) {
    line-height: 1;
    padding-left: 1.6rem;
  }
  &_size{
    &_l{
      font-size: 10rem;
    }
    &_md{
      font-size: 9rem;
    }
    &_sm{
      font-size: 7.5rem;
    }
    &_xs{
      font-size: 5rem;
    }
  }
  @include media ($mobile) {
    &_size{
      &_l{
        font-size: 10rem;
      }
      &_md{
        font-size: 9rem;
      }
      &_sm{
        font-size: 7.5rem;
      }
      &_xs{
        font-size: 4rem;
      }
    }
  }
}