@import "common/settings/variables";
@import "common/utils";

.o-file{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  border-bottom: $line;
  @include media($mobile){
    flex-flow: column;
    align-items: flex-start;
    padding-bottom: 3.2rem;
  }
  & + &{
    margin-top: 3.2rem;
  }
  &__buttons{
    flex: 0 0 auto;
    &-download{
      .a-btn + .a-btn{
        margin-left: 3.2rem !important;
      }
    }
  }

  &__file{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    position: relative;

    &-icon{
      margin-right: 1.6rem !important;
      transform: translateY(3px);
    }
    &_type{
      &_pdf:after{
        content: 'pdf';
      }
      &_zip:after{
        content: 'zip';
      }
    }
    @include media($mobile){
      margin-bottom: 1.6rem;
    }
    //&:before{
    //  content: url('/img/icons/doc.svg');
    //  top: 0;
    //  left: 0;
    //  position: absolute;
    //  display: block;
    //}
    &:after{
      margin-left: 10.3rem;
      position: relative;
      bottom: 4px;
      font-size: 12px;
      line-height: 1.5;
      padding: 2px 6px 2px 7px;
      font-weight: bold;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      width: 39px;
      border-radius: 100px;
      background-color: $interactive;
      @include media($tablet){
        margin-left: 5.7rem;
      }
      @include media($mobile){
        margin-left: 1.6rem;
      }
    }
  }
}