@import "common/settings/variables";
@import "common/utils";

.home-hero{
  background-image: url("/img/common/background.svg");
  background-size: cover;
  background-color: #282a35;
  background-position: 3% 15%;
  padding-top: 12.1rem;
  padding-bottom: 4rem;
  @include media ($tablet) {
    padding-top: 3.3rem;
    padding-bottom: 3.1rem;
  }
  @include transparent-back(#282a35, top);

  &__hero-title{
    padding-bottom: 2.5rem;
    @include media ($tablet) {
      padding-bottom: 1.6rem;
    }
  }
  &__inner{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 1055px;
    width: auto;
    margin-left: auto;
  }
  &__info{
    flex: 1 1 43.2rem;
    padding-right: 2rem;
    @include media ($tablet) {
      padding-right: 0;
    }
  }
  &__timer{
    @include media ($tablet) {
      display: none;
    }
    padding-top: 1.2rem;
    flex: 0 0 57.3rem;
    //transform: translate(2.3rem, 0);
    &-title{
      padding-bottom: 2rem;
    }
    &-inner{
      color: black;
      height: 220px;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.03);
      padding: 3.6rem 3.7rem 4.4rem;
      margin-left: 3.3rem;
      margin-right: 3.3rem;
    }

    &-before{
      position: absolute;
      top: -22px;
      left: 0;
      width: 345px;
      height: 215px;
      border-radius: 4px;
      background-image: linear-gradient(27deg, #ffd77f, #fff3a3);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.03);
    }
    &-after{
      position: absolute;
      width: 345px;
      height: 215px;
      border-radius: 4px;
      background-image: linear-gradient(27deg, #57c6e4, #ead6f7);
      right: 0;
      bottom: -3.5rem;
    }
  }
}