@import "common/settings/variables";
@import "common/utils";

$menu-height: 70px;

.home-hero{
  background-color: black;
  position: relative;
  display: flex;
  justify-items: center;
  justify-content: center;

  &__canvas{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title{
    z-index: 0;
    max-width: 64rem;
    text-align: center;
    color: white;
    @include media ($mobile) {
      text-align: left;
    }


  }

  &__text{
    text-align: center;
    max-width: 82rem;
    position: relative;
    color: white;

    @include media ($mobile) {
      margin-top:0 !important;
      text-align: left;
    }
  }

  &__container{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - #{$menu-height});
    min-height: 700px;
    padding-bottom: $menu-height;
    padding-top: 0;

  }


  &__buttons{
    text-align: center;
    &-contribute{

    }
    &-subscribe{
      background-color: white;
      border-color: white;
      &:hover{
        background-color: darken(white, 15%);
        //border: none;
      }
    }
    @include media ($mobile) {
      width: 100%;
    }
  }
  &__block{
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.53);
    padding: 3.2rem;
    overflow: hidden;
    display: inline-block;
    margin: auto;
    background-color: $white;
    border-radius: .4rem;
  }
}