@import "common/utils";
@import "common/settings/variables";

.a-link{
  cursor: pointer;
  transition: color .2s;

  &_type{
    &_nav{
      font-weight: 500;
      font-size: 16px;
      color: #6d6f7b;
      height: 1.9rem;
      line-height: 1.9rem;
    }
    &_simple{
      width: 100%;
      display: block;
      padding: .8rem 0;
      will-change: font-weight;
      transition: all ease-in;
      font-size: 17px;
      line-height: 1.53;
      text-align: left;
      color: $interactive;

      &:hover{
        font-weight: 500;
      }
    }
  }


  &.disabled{
    pointer-events: none;
  }

}