@import "common/utils";
@import "common/settings/variables";

.a-link{
  cursor: pointer;
  transition: color .2s;

  &_type{
    &_nav{
      font-weight: 500;
      font-size: 16px;
      color: $black-3;
      height: 1.9rem;
      line-height: 1.9rem;
      will-change: color;
      transition: color .3s ease;
      &:hover, &.disabled{
        color: $interactive;
      }
    }
    &_simple{
      width: 100%;
      display: block;
      padding: .8rem 0;
      will-change: font-weight;
      transition: all ease-in;
      font-size: 17px;
      line-height: 1.53;
      text-align: left;
      color: $interactive;

      &:hover{
        font-weight: 500;
      }
    }
    &_faq{
      width: 100%;
      display: block;
      padding: 0 0 .8rem;
      will-change: font-weight;
      transition: all ease-in;
      font-size: 17px;
      line-height: 1.53;
      text-align: left;
      color: $text-t;

      &:hover{
        font-weight: 500;
        color: black;
      }
    }
  }


  &.disabled{
    pointer-events: none;
  }

}