@import "common/settings/variables";
@import "common/utils";

.legal{
  $c: &;
  border-bottom:$line;

  &__hero{
    @include hl;
    @at-root #{$c}__dropdown{
      @include media ($mobile-up) {
        display: none;
      }
    }
    @include media ($mobile) {
      padding-bottom: 3.2rem !important;
    }
  }
  &__main{
    display: flex;
  }

  &__content, &__fixed{
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  &__menu{
    flex: 0 0 23.1rem;
    padding-right: 1.6rem;
    border-right: $line;
    display: none;
    @at-root #{$c}__nav{
      margin-top: 1.6rem;
      &-link{
        font-size: 17px;
        line-height: 1.53;
        color: $black-2;
        padding-bottom: .8rem;
        &_is-open_true{
          font-weight: 500;
          color: $black-1;

        }
      }
    }
    &_media{
      @include media ($desktop) {
        &_desktop{
          display: block;
        }
      }
      @include media ($tablet) {
        &_tablet{
          display: block;
          &>.o-fixed_sticky_true{
            padding-top: 12.5rem !important;
          }
        }
      }
      @include media ($mobile) {
        &_tablet{
          display: none;
        }
      }
    }
  }

  &__content{
    flex: 0 1 auto;
    padding-left: 3.6rem;

    @include media($mobile){
      padding: 4.24rem 0 6.4rem;
    }

    h2{
      font-family: Georgia;
      font-size: 4rem;
      line-height: 1.25;
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 1.6rem;
    }
    strong{
      display: block;
      margin-bottom: 3.2rem;
    }
    h4{
      margin-bottom: 3.2rem;
      margin-top: 6.4rem;
      font-size: 19px;
      font-weight: 500;
      line-height: 1.47;
    }
    p + p{
      margin-top: 2.6rem;
    }
    ol li{
      list-style-type: upper-alpha;
      margin: 1rem 0 1rem 5rem;
      padding-left: .6rem;
    }

    ul{
      margin-bottom: 2rem;
      margin-left: .75rem;
    }
    ul li{
      position: relative;
      margin: 1rem 0 0 1.5rem;
      strong{
        margin-bottom: 1rem;
      }

      &:before{
        content: '';
        position: absolute;
        height: .7rem;
        width: .7rem;
        border-radius: 50%;
        background-color: $black-1;
        top: 1rem;
        left: -1.4rem;
        display: block;
      }
    }
  }


}